body {
    background-color: gold;
}

#bandeau  {
    padding: 25px;
    text-align: center;
    position: relative;
    background-color: aqua;
    width: 100%;
}

#menu-gauche {
    width: 150px;
    background-color: palevioletred;
    color: #fff;
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    padding: 25px;
}

#contenu {
    text-align: center;
    position: relative;
    bottom: 50%;
    padding: 100px;
    width: 100%;
}

#pied  {
    padding: 25px;
    text-align: center;
    position: absolute;
    bottom: 0;
    background-color: aquamarine;
    width: 100%;
}